{% extends 'base.html' %}

{% block sidebar %}
    {% include 'base_sidebar.html' with btn_tables_status='active' %}
{% endblock sidebar %}

{% block main-panel %}
    <div class="content">
        <div class="container-fluid">
            <h4 class="page-title">Tables</h4>
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Basic Table</div>
                    <div class="card-body">
                        <div class="card-sub">test tables</div>
                        <table class="table mt-3">
                            <thead>
                            <tr>
                                {% for k,v in question_attr.items %}
                                    <th scope="col"> {{v}}</th>
                                {% endfor %}


                            </tr>
                            </thead>
                            <tbody>

                            {% for question in question_list %}
                                <tr>
                                    <th>{{ question.id }}</th>
                                    <th>{{ question.question_text }}</th>
                                    <th>{{ question.pub_date }}</th>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock main-panel %}